*{
    margin:0;
    padding:0;
}
header {
    width: 100%;
    position: relative; /* Để cho các phần tử con có thể được định vị */
    display: flex; /* Sử dụng Flexbox để căn giữa nội dung */
    flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
    justify-content: flex-start; /* Đặt các phần tử ở trên cùng */
    margin:0;
   
}
header nav ul{
    list-style-type: none;
}
nav{
    overflow: hidden;
    background-color: #ecb7eb;
    z-index: 2;
}
#menu{
    display:flex;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    overflow: hidden;
    background-color: #ecb7eb;
    z-index: 2;
    width:100%;
}
nav a{
    display: block;
    float: left;
    padding :  22px;
    text-decoration: none;
    font-size: 20px;
    color:black;
}
nav a:hover {
    background-color: aliceblue;
    color:#ed9fec;
}
nav img{
    display: block;
    float: left;
    width:70px;
    padding: 0px 10px ;
   
}
#mucluc{
    display:flex;
    padding:20px 20px 10px;
    margin-top:60px;
    font-size:16pt;
    font-family: 'Times New Roman', Times, serif;
    gap:10px;
    background-color:rgb(251, 240, 253);
}
#mucluc div a{
    text-decoration: none;
    color:black;
}


#container{
    display:flex;
    justify-content: flex-start; /* Đặt các phần tử căn về bên trái */
    align-items: center;/*Căn giữa các phần tử con theo trục dọc của hộp flex.*/
    padding: 20px;
    background-color:  rgb(247, 225, 251);
  
}
.anh{
    margin-left: 30px;
    border-radius: 20px;
}
.giang div{
    width:520px;
    font-size: 14pt;
    font-weight: bolder;
    text-align: center;
}
.thong_tin{
    margin-left: 15px;
   
}
.thong_tin p{
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-weight: bold;
    font-style: italic;
    padding:10px;
    margin-left: 25px;
  
}
.thong_tin li{
    font-size:16pt;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px; /* Khoảng cách giữa các mục */
    font-weight: 500;
    list-style-position: inside; /* Đưa dấu chấm vào bên trong văn bản */
    padding-left: 25px;
}

.tatca{
    padding:20px;
    background-color: rgb(251, 240, 253);
}
#anhsothich{
    display: flex; /* Sử dụng Flexbox */
    justify-content: center;     /* Căn giữa theo chiều ngang */
    gap: 0px; /* Điều chỉnh khoảng cách giữa các ảnh */
    background-color:  rgb(251, 240, 253);
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    font-size: 16pt;
    padding:20px 20px 30px 30px;
}
#sothich h2{
    text-align: center;
    font-size: 25pt;
    padding:5px 20px 20px 30px;
    background-color: rgb(247, 225, 251);
    
}

#gioithieu{
    padding:5px 20px 40px 50px;
    font-size: 16pt;
}
#gioithieu h2{
    margin-bottom: 10px;
    background-color:rgb(251, 240, 253);
}
#lienhe{
    padding-top: 20px;
    display:flex;
    justify-content: center;     /* Căn giữa theo chiều ngang */
    gap: 20px; /* Điều chỉnh khoảng cách giữa các ảnh */
}
#lien_he{
    background-color:rgb(247, 225, 251);
  
    padding:20px 20px 30px 30px;
}
#lien_he h2{
    text-align: center;
    font-size: 25pt;
}
.circle-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ed9fec;
    border-radius: 50%;
    transition: background-color 0.3s;
   
}
/* Phần Kinh nghiệm */
.main-context {
    text-align: center;
    margin: 0px 0;
}

.main-context h1 {
    text-align: center;
    font-size: 25pt;
    padding:30px 20px 30px 30px;
    background-color: rgb(247, 225, 251);

}
/* Phần logo cho Kinh nghiệm */
.logo-wrapper {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgb(251, 240, 253);
}

.container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    animation: scroll 15s linear infinite;
}

.logo-item img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
